@model IEnumerable<StudentManagementApp.Models.Student>

@{
    ViewData["Title"] = "Student Grades";
}

<h1>Students and their Grades</h1>

@foreach (var student in Model)
{
    <div class="card mb-3 p-3 shadow">
        <h4>@student.StudentName (@student.DateOfBirth.ToShortDateString())</h4>
        <p>Height: @student.Height m | Weight: @student.Weight kg</p>
        <h5>Grades:</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var grade in student.Grades)
                {
                    <tr>
                        <td>@grade.Section</td>
                        <td>@grade.GradeName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

